@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap%27');

$iconColor:#02215C;
$buttonColor:#054BD0;
$iconGreen:#2A9B1B;
$textColor:#323232;
$background-noti:#f6f6f6;
$background-noti-aktiv:#eeeeee;

* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  color:$textColor
}


main {
  background-color:#ffff;
  height: calc(100vh - 110px);
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

//Navigationsbar
.navigation--bar {
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 

  &__item {
    flex: 1;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color:#f2f2f2;

    p{
      font-size: 10px;
      color: $iconColor;
    }
    
    img{
    width: 30px;
    }
    div {
      width: fit-content;
      text-align: center;
    }
  }


}

.mylearning {
  background-color: $iconColor;
  height: 100vh;
  width: 100%;

  img {
    padding-left: 15px;
    padding-top: 15px;
  }

  .profile {
    background-color: #ffffff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    bottom: 0;
    box-sizing: border-box;
    height: 85vh;
    padding: 15px;
    position: fixed;
    width: 100%;

    .profile-info {
      background-color: deeppink;
      height: 25vh;
      margin-top: -70px;
      width: 350px;

      img {
        padding: 0;
        border-radius: 100%;
        width: 100px;
      }
    }
  }
}




//Notifications

.notifications {
    font-weight: 300;
    
    
    h2{
        margin: 30px 15px;
        font-weight: 300px;
    }
}

.noti{
   padding-bottom: 20px;
   background-color: $background-noti;
   padding: 15px;
   
  
  p{
    font-size: 12px;
  }
   span{
    font-size: 10px;
    color:#054BD0;
    
   }
   h3{
    margin-bottom: 10px;
    font-size: 14px;
   }
}
.noti-aktiv{
    background-color: $background-noti-aktiv;
}

